::ng-deep app-control-grid-tab-data-layout-panel {
  display: block;
  width: 100%;
  height: 100%;
}

.box-btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  &--tab {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex: 0 1 90%;
    overflow-x: auto;
    border-right: 1px solid #ccc;
    height: 100%;
    &:has(.btn) .btn {
      white-space: nowrap;
      border: 1px solid #ccc;
      margin-right: 0.1rem;
    }
  }
  &--control {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 0 10%;
    justify-content: flex-end;
    align-items: stretch;
  }
}

::ng-deep .wj-flexgrid {
  height: 100% !important;
  border-radius: unset;
}
