<div class="main-content">
    <div>
        <select (change)="selectChangeHandler($event)">
            <option value="1" selected>greater than 1000</option>
            <option value="2">greater than 500</option>
            <option value="3">less than 100</option>
            <option value="4">All</option>
        </select>
        <button (click)="onHandleAddNewItem()">Add New Product</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Rate</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody *ngIf="productWithSelectedAction$ | async as productsGr">
            <ng-container *ngFor="let item of productsGr">
                <tr>
                    <td colspan="5"
                        style="background-color: red;text-align:center;vertical-align: middle; line-height: 20px;">
                        {{item.name}}: {{item.products.length}} products
                    </td>
                </tr>
                <tr *ngFor="let item of item.products ;let i = index">
                    <td style=" text-align: center;"> {{item.id}}</td>
                    <td style=" text-align: center;"> {{item.title}}</td>
                    <td style=" text-align: center;"> {{item.price}}</td>
                    <td style=" text-align: center;"> <i class="fa-solid fa-star"></i>{{item.rating}}</td>
                    <td style=" text-align: center;"> <img src="{{item.thumbnail}}" alt=""></td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>