.main-content {
  height: calc(100vh - 5rem) !important;
  width: calc(100vw - 27rem);
  background-color: #f5f5f5;
  overflow: scroll;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td img {
  width: 10rem;
  height: 10rem;
}

td {
}

tr:nth-child(even) {
  background-color: #dddddd;
}
::ng-deep body:has(.app-main.active) .main-content {
  width: 100vw !important;
}
