//**main content
.main-content {
  height: calc(100vh - 5rem) !important;
  width: 100%;
  background-color: #f5f5f5;
  overflow: hidden;
}

//** product  form
.product_form {
  display: block;
  overflow-x: scroll;
  padding: 0.5rem 1.2rem 0 1.2rem;
}

//** tab links
.tab {
  &__box {
    width: 100%;
    height: 3rem;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
  }

  &__link {
    display: inline-block;
    cursor: pointer;
    outline: none;
    font-size: 1.4rem;
    text-align: center;
    border: 0;
    height: 100%;
    text-align: center;
    padding: 0.6rem 1.2rem;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    transition: background-color 0.1 ease-in-out;
  }

  &__link.active {
    background-color: #fff;
  }
}

//** Fading effect takes 1 second **/
.tabContent {
  animation: fadeEffect 1s;
}

//** Go from zero to full opacity
@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
