<app-control-grid-container-layout-panel [layoutConfig]="configLayout" [width]="'100%'">
    <!--** tab **-->
    <app-control-grid-item-layout-panel [overflow]="'auto hidden'">
        <div class="box-btn">
            <div class="box-btn--tab">
                <button class="btn btn--tab" (click)="onDeleteRowSelected()">Xoá sản phẩm</button>
                <button class="btn btn--tab" (click)="onExportExcel()">Export Excel</button>
                <!-- <button class="btn btn--tab">Đơn hàng bán</button>
                <button class="btn btn--tab">Phát sinh nhập mua hàng</button>
                <button class="btn btn--tab">Phát sinh hoá đơn bán hàng</button> -->
                <!-- <button class="btn btn--tab">Sản phẩm hoàn thành</button>
                <button class="btn btn--tab">Vật tư suất kho</button>
                <button class="btn btn--tab">Kế hoạch</button>
                <button class="btn btn--tab">Chi tiết lô</button> -->
            </div>
            <div class="box-btn--control">
                <button class="btn btn--control">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-square-half" viewBox="0 0 16 16">
                        <path
                            d="M8 15V1h6a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H8zm6 1a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12z" />
                    </svg>
                </button>
                <button class="btn btn--control">
                    <i class="fa-solid fa-minus"></i>
                </button>
            </div>
        </div>
    </app-control-grid-item-layout-panel>
    <!--** wijFlex data **-->
    <app-control-grid-item-layout-panel [overflow]="'auto hidden'" *ngIf="productSelected$ | async as productSelected">
        <wj-flex-grid #wjFlex [headersVisibility]="1" [itemsSource]="[productSelected]"
            (initialized)="flexInitialized(wjFlex)">
            <wj-flex-grid-column [binding]="'Id'" [header]="'Mã'" [width]="100" [align]="'left'">
            </wj-flex-grid-column>
            <wj-flex-grid-column [binding]="'Name'" header="Tên vật tư" [width]="300" [align]="'left'">
            </wj-flex-grid-column>
        </wj-flex-grid>
    </app-control-grid-item-layout-panel>
</app-control-grid-container-layout-panel>