@import '../../../mixin';
@import '../../../variables';

.header {
    width: 100%;
    height: 5rem;
    background-color: #F4F4F4;
    color: $color-primary;

    &__container {
        height: 100%;
        // @include flex(center, space-between, nowrap);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__tool {
        display: flex;
        justify-content: center;
        align-items: center;

        &--item {
            &:nth-child(2) {
                border-right: 1px dashed #989898;
            }

            text-align: center;
            font-weight: 400;
            margin-right: 1.2rem;
            border-right: 1px solid #989898;
            padding: .3rem;
            padding-right:0.5rem;
            cursor: pointer;
        }
    }

    &__left {
        border: 0.1rem solid red;
        border-right: 0.3rem solid red;
        margin-right: 1.2rem;
        padding: 0.3rem 0.5rem;
        color: red;
        font-weight: 400;
        font-size: 1.2rem;
        cursor: pointer;
    }


}

.btn {
    color: $color-primary;
    @include btn-base();
    transition: background-color 0.1s ease-in-out;

    &--toggleSidbar {
        margin-right: 1rem;
    }


    &:active {
        opacity: .6;
    }

}