<header class="header">
    <div class="header__container">
        <div class="header__right">
            <button class="btn btn--toggleSidbar" (click)="onClickMenu()"><i class="fa-solid fa-bars"></i></button>
            <ul class="header__tool">
                <li class="header__tool--item">Dữ liệu</li>
                <li class="header__tool--item">Tuỳ chọn</li>
                <li class="header__tool--item"><i class="fa-regular fa-floppy-disk"></i></li>
                <li class="header__tool--item"><i class="fa-solid fa-pen-ruler"></i></li>
                <li class="header__tool--item"><i class="fa-solid fa-folder-minus"></i></li>
                <li class="header__tool--item"><i class="fa-solid fa-arrow-rotate-left"></i></li>
                <li class="header__tool--item"><i class="fa-solid fa-arrow-right-from-bracket"></i></li>
                <li class="header__tool--item"><i class="fa-solid fa-power-off"></i></li>
            </ul>
        </div>
        <div class="header__left">
            <p>Layout1</p>
        </div>
    </div>
</header>