::ng-deep app-control-grid-data-layout-panel {
  display: block;
  height: 100%;
}
/* gird wijmo */
::ng-deep .wj-flexgrid {
  height: 100%;
  border-radius: unset;
}
::ng-deep .wj-cell.wj-header {
  background: #dfe3e8;
  color: #333;
}

::ng-deep.wj-cell {
  padding: 8px;
  background: #ffffff;
}

::ng-deep.wj-alt {
  background: #ecf2ff;
}

::ng-deep.wj-cells .wj-cell.wj-state-selected {
  background: #cce9ff;
  color: #333;
}

::ng-deep.wj-cells .wj-cell.wj-state-multi-selected {
  background: #cce9ff;
  color: #333;
}

::ng-deep.wj-cell.wj-frozen,
::ng-deep.wj-cell.wj-alt.wj-frozen {
  background: #b3ffae;
}

::ng-deep.wj-flexgrid .cell-changed {
  background-color: #e0144c;
}

::ng-deep.wj-flexgrid .wj-colheaders .wj-header.wj-state-multi-selected {
  background-color: yellow;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

::ng-deep button.wj-cell-maker {
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}
::ng-deep .wj-flexgrid .wj-marquee,
::ng-deep .wj-flexgrid .wj-header {
  transition: all 0.2s;
}

::ng-deep .wj-flexgrid .wj-cell.cell-img {
  padding: 0;
  text-align: center;
  width: 100px;
  height: 100px;
}

::ng-deep div[aria-level="1"] .wj-cell.wj-group {
  background-color: #fff6bd;
  font-weight: 600;
}
::ng-deep div[aria-level="2"] .wj-cell.wj-group {
  background-color: #fbc252;
  font-weight: 600;
}

//#Right

::ng-deep .wj-cell.wj-group {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  white-space: pre-wrap;
}

::ng-deep .wj-flexgrid .wj-header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
::ng-deep .wj-cell {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

::ng-deep .wj-cell.wj-alt {
  background-color: #b7c4cf;
}

// ::ng-deep b {
//   white-space: pre-wrap;
// }
