<!-- **Case Grid Layout Form** -->
<ng-container *ngIf="formFieldConfig && instanceForm && groupNameForm;else otherCase" [formGroup]="instanceForm">
  <ng-container *ngFor="let field of formFieldConfig.formField" [formGroupName]="groupNameForm">
    <app-control-form-label-panel [field]="field">
    </app-control-form-label-panel>
    <app-control-form-field-panel [field]="field">
    </app-control-form-field-panel>
  </ng-container>
  <!-- **Nested** -->
  <ng-container *ngIf="formFieldConfig.subControlGridLayoutFormData">
    <app-control-grid-container-layout-panel
      [formFieldConfig]="formFieldConfig.subControlGridLayoutFormData.subGridItemForm"
      [positionLine]="formFieldConfig.subControlGridLayoutFormData.position" [groupNameForm]="groupNameForm">
    </app-control-grid-container-layout-panel>
  </ng-container>
</ng-container>
<!-- ** Case Content Projection -->
<ng-template #otherCase>
  <ng-content></ng-content>
</ng-template>