<li class="sideNav__item">
    <button class="sideNav__btn">
        <span class="sideNav__btn--title">
            <span class="sideNav__btn--index">2</span>. Lỗi nhập liệu
        </span>
    </button>

    <ng-container *ngIf="productForm">
        <!-- **Info product** -->
        <ng-container *ngFor="let label of formInfo.gridItemForm.labels">
            <ng-container *ngIf="label.formControlName">
                <app-error-message class="sideNav__error" *ngIf="infoF[label.formControlName]?.invalid"
                    [control]="infoF[label.formControlName]" [titleError]="label.title">
                </app-error-message>
            </ng-container>
        </ng-container>
        <!-- **attribute product** -->
        <ng-container *ngFor="let label of formAttributeInfo.gridItemForm.labels">
            <ng-container *ngIf="label.formControlName">
                <app-error-message class="sideNav__error" *ngIf="attributeF[label.formControlName]?.invalid"
                    [control]="attributeF[label.formControlName]" [titleError]="label.title">
                </app-error-message>
            </ng-container>
        </ng-container>
        <ng-container
            *ngFor="let label of formAttributeInfo.gridItemForm.subControlGridLayoutForm?.subGridItemForm?.gridItemForm?.labels">
            <ng-container *ngIf="label.formControlName">
                <app-error-message class="sideNav__error" *ngIf="attributeF[label.formControlName]?.invalid"
                    [control]="attributeF[label.formControlName]" [titleError]="label.title">
                </app-error-message>
            </ng-container>
        </ng-container>
    </ng-container>
</li>