<li class="sideNav__menu--item">
    <button class="sideNav__btn" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">
        <span class="sideNav__btn--title">
            1. Công cụ nhập liệu
        </span>
    </button>
    <div class="sideNav__sub-menu lev--1">
        <button class="btn sideNav__sub-menu--item" routerLink="/" routerLinkActive="active"
            ariaCurrentWhenActive="page"><span class="sideNav__sub-menu--title">Nhóm vật tư</span></button>
        <button class="btn sideNav__sub-menu--item" routerLink="/" routerLinkActive="active"
            ariaCurrentWhenActive="page"><span class="sideNav__sub-menu--title">Lấy nhà cung cấp</span></button>
        <button class="btn sideNav__sub-menu--item" routerLink="/" routerLinkActive="active"
            ariaCurrentWhenActive="page"><span class="sideNav__sub-menu--title">Lấy phân loại</span></button>
    </div>
</li>