<li class="sideNav__item" *ngFor="let item of menuList; let index = index">
    <button class="sideNav__btn">
        <span class="sideNav__btn--title">
            <span class="sideNav__btn--index">{{index + 1}}</span>. {{item.title}}
        </span>
    </button>
    <div class="sideNav__sub-menu lev--1">
        <button *ngFor="let subItem of item.submenu" class="btn sideNav__sub-menu--item"
            routerLink="/{{convertStringToRoute(subItem)}}" routerLinkActive="active" ariaCurrentWhenActive="page">
            <span class="sideNav__sub-menu--title">{{subItem}}</span>
        </button>
    </div>
</li>