.sideNav {
    &__btn {
        border: 1px solid #A0A0A0;
        border-radius: 0.3rem;

        &--title {
            font-weight: 600;
            font-size: 1.6rem;
            color: #646464;
        }

    }

    &__sub-menu {
        &--title {
            color: #000000;
            font-weight: 400;
            font-size: 1.6rem;
        }

        &--item {
            padding: 1rem 1rem 0.8rem 2rem;
            background-color: #EAECF5;
            border-radius: 0.3rem;
            transition: all 0.1s ease-in-out;
            border-top: 1px solid #A0A0A0;

            &:focus {
                background-color: #CCE8FF;

            }

            &:last-child {
                border-bottom: 1px solid #A0A0A0;
            }
        }

    }
}



.lev {
    &--1 {}

    &--2 {}

}

button {
    width: 100%;
    padding: 0.8rem 0.8rem 0.8rem 2rem;
    text-align: left;
    outline: none;
    border: none;
    cursor: pointer;
    word-wrap: break-word;
    transition: all 0.25s ease-in-out;
}