<ng-container [ngSwitch]="field.attribute.categoryTag">
    <!-- ** case: Input -->
    <ng-container *ngSwitchCase="'input'">
        <ng-container *ngIf="isInput(field)">
            <!-- **Handle case input type is textbox** -->
            <ng-container *ngIf="field.type === 'checkbox'; else otherInput">
                <input type="{{field.type}}" id="{{field.attribute.id}}"
                    class="{{field.attribute.class ? field.attribute.class :''}}" name='{{field.attribute.name}}'
                    [ngClass]="classList ? classList : ''"
                    placeholder="{{field.attribute.placeholder ? field.attribute.placeholder : ''}}"
                    [checked]="valueFiled" (change)="handleValueChange($event)">
            </ng-container>
            <!-- **Handle case input other type** -->
            <ng-template #otherInput>
                <input type="{{field.type}}" id="{{field.attribute.id}}"
                    class="{{field.attribute.class ? field.attribute.class :''}}" name='{{field.attribute.name}}'
                    min="{{field.attribute.min ? field.attribute.min : ''}}"
                    max="{{field.attribute.max ? field.attribute.max : ''}}" [ngClass]="classList ? classList : ''"
                    placeholder="{{field.attribute.placeholder ? field.attribute.placeholder : ''}}"
                    [(ngModel)]="valueFiled" (ngModelChange)="handleValueChange($event)">
            </ng-template>
        </ng-container>
    </ng-container>
    <!-- ** case: select -->
    <ng-container *ngSwitchCase="'select'">
        <ng-container *ngIf="isSelect(field)">
            <select id="{{field.attribute.id}}" class="{{field.attribute.class ? field.attribute.class :''}}"
                [ngClass]="classList ? classList : ''" name='{{field.attribute.name}}' [(ngModel)]="valueFiled"
                (ngModelChange)="handleValueChange($event)">
                <option *ngFor="let option of field.options" [ngValue]="option.value">
                    {{option.title}}</option>
            </select>
        </ng-container>
    </ng-container>
    <!-- ** case: textarea -->
    <ng-container *ngSwitchCase="'textarea'">
        <ng-container *ngIf="isTextarea(field)">
            <textarea id="{{field.attribute.id}}" class="{{field.attribute.class ? field.attribute.class :''}}"
                [ngClass]="classList ? classList : ''" name="{{field.attribute.name}}"
                placeholder="{{field.attribute.placeholder ? field.attribute.placeholder : ''}}"
                [(ngModel)]="valueFiled" (ngModelChange)="handleValueChange($event)"></textarea>
        </ng-container>
    </ng-container>
</ng-container>