<div class="main-content" *ngIf="products$ | async as products">
  <ng-container *ngIf=" wijFlexLayout$ |async as wijFlexLayout">
    <!-- <app-control-grid-tab-data-layout-panel></app-control-grid-tab-data-layout-panel> -->
    <app-control-grid-data-layout-panel *ngIf="wijFlexColumnConfig$ | async as wijFlexColumnConfig"
      [dataSource]="products" [wijFlexLayout]="wijFlexLayout" [wjFlexColumnConfig]="wijFlexColumnConfig"
      (wijFlexMainInitialized)="flexMainInitialized($event)" (wijFlexTabInitialized)="flexTabInitialized($event)">
    </app-control-grid-data-layout-panel>
  </ng-container>
</div>