<div class="main-content" *ngIf="products$ | async as products">
  <app-control-grid-data-layout-panel *ngIf="wijFlexColumnConfig$ | async as wijFlexColumnConfig"
    [dataSource]="products" (wijFlexMainInitialized)="flexMainInitialized($event)"
    (wijFlexTabInitialized)="flexTabInitialized($event)" [isDrawIdOddAndEven]="true" (setLoading)="setLoading($event)"
    [wjFlexColumnConfig]="wijFlexColumnConfig">
  </app-control-grid-data-layout-panel>

</div>
<div class="container-loading" *ngIf="isLoading">
  <div class="loader"></div>
</div>
