//**main content
.main-content {
  position: relative;
  height: calc(100vh - 5rem) !important;
  width: calc(100vw - 27rem);
  background-color: #f5f5f5;
  overflow: hidden;
  z-index: 1;
}
::ng-deep body:has(.app-main.active) .main-content {
  width: 100vw !important;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  z-index: 9999;
}

.container-loading {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 5rem) !important;
  width: calc(100vw - 27rem);
  overflow: hidden;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.1);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
