<form [formGroup]="formDemo">
    <ng-container *ngIf="products$ | async as products">
        <BravoComboBox #comboBox (initialize)="initializedSelectBox(comboBox)" [itemsSource]="products.products"
            formControlName="item">
        </BravoComboBox>
    </ng-container>
</form>


<br>
<select #select name="" id="" *ngIf="displayMemberPath$ | async as displayMemberPath"
    (change)="onChanged(select.value)">
    <option *ngFor="let member of displayMemberPath" [value]="member">{{member}}</option>
</select>
<button (click)="onClick()">submit</button>