/* gird wijmo */
::ng-deep .wj-flexgrid {
  height: 100% !important;
  border-radius: unset;
}
::ng-deep .wj-cell.wj-header {
  background: #dfe3e8 !important;
  color: #333 !important;
  font-weight: 500 !important;
}

::ng-deep.wj-cell {
  padding: 8px;
  background: #ffffff !important;
}

::ng-deep.wj-alt {
  background: #ecf2ff !important;
}

::ng-deep.wj-cells .wj-cell.wj-state-selected {
  background: #cce9ff !important;
  color: #333 !important;
}

::ng-deep.wj-cells .wj-cell.wj-state-multi-selected {
  background: #cce9ff !important;
  color: #333 !important;
}

::ng-deep.wj-cell.wj-frozen,
::ng-deep.wj-cell.wj-alt.wj-frozen {
  background: rgb(255, 255, 125) !important;
}

::ng-deep.wj-cell.even {
  background-color: red !important;
}
::ng-deep.wj-cell.odd {
  background-color: green !important;
}
