<!-- <wj-flex-grid #flex [itemsSource]="products" (initialized)="flexInitialized(flex)" [isReadOnly]="true">
    <wj-flex-grid-column binding="ItemTypeName" header="Tên Vật tư" [width]="350" [align]="'left'">
    </wj-flex-grid-column>
    <wj-flex-grid-column binding="Id" header="Mã" [width]="150" [align]="'left'">
    </wj-flex-grid-column>
    <wj-flex-grid-column binding="Unit" header="Đvt" [width]="130" [align]="'left'">
    </wj-flex-grid-column>
    <wj-flex-grid-column binding="ItemTypeName" header="Loại vật tư" [width]="150" [align]="'left'">
    </wj-flex-grid-column>
    <wj-flex-grid-column binding="ParentCode" header="Mã nhóm mẹ" [width]="150" [align]="'left'">
    </wj-flex-grid-column>
    <wj-flex-grid-column binding="ItemGroupCode" header="Nhóm hàng" [width]="150" [align]="'left'">
    </wj-flex-grid-column>
    <wj-flex-grid-column binding="Name" header="Sản Phẩm" [width]="350" [align]="'left'">
    </wj-flex-grid-column>
</wj-flex-grid> -->