<ng-container [ngSwitch]="field.attribute.categoryTag" [formGroup]="formGroup">
    <!-- ** case: Input -->
    <ng-container *ngSwitchCase="'input'">
        <ng-container *ngIf="isInput(field)">
            <!-- **Handle case input type is textbox custom form** -->
            <ng-container *ngIf="field.type === 'checkbox'; else otherInput">
                <app-custom-form-checkbox [idIp]="field.attribute.id ? field.attribute.id : ''"
                    [classIp]="field.attribute.class ? field.attribute.class : ''"
                    [nameIp]="field.attribute.name ? field.attribute.name :''"
                    [placeholder]="field.attribute.placeholder ? field.attribute.placeholder :''"
                    [formControlName]="field.attribute.formControlName">
                </app-custom-form-checkbox>
            </ng-container>
            <!-- **Handle case input other type** -->
            <ng-template #otherInput>
                <input type="{{field.type}}" id="{{field.attribute.id}}"
                    [class]="field.attribute.class ? field.attribute.class :''" [name]='field.attribute.name'
                    [min]="field.attribute.min ? field.attribute.min : ''"
                    [max]="field.attribute.max ? field.attribute.max : ''"
                    [placeholder]="field.attribute.placeholder ? field.attribute.placeholder : ''"
                    [formControlName]="field.attribute.formControlName">
            </ng-template>
        </ng-container>
    </ng-container>
    <!-- ** case: select -->
    <ng-container *ngSwitchCase="'select'">
        <ng-container *ngIf="isSelect(field)">
            <select [id]="field.attribute.id" [class]="field.attribute.class ? field.attribute.class :''"
                [name]='field.attribute.name' [formControlName]="field.attribute.formControlName">
                <option *ngFor="let option of field.options" [ngValue]="option.value">
                    {{option.title}}</option>
            </select>
        </ng-container>
    </ng-container>
    <!-- ** case: textarea -->
    <ng-container *ngSwitchCase="'textarea'">
        <ng-container *ngIf="isTextarea(field)">
            <textarea [id]="field.attribute.id" [class]="field.attribute.class ? field.attribute.class :''"
                [name]="field.attribute.name"
                [placeholder]="field.attribute.placeholder ? field.attribute.placeholder : ''"
                [formControlName]="field.attribute.formControlName"></textarea>
        </ng-container>
    </ng-container>
</ng-container>